# Nix
result

# exercism
.exercism

# Ignore
erlang/*
!erlang/.gitignore
!erlang/.envrc

elixir/*
!elixir/.gitignore
!elixir/.envrc

fsharp/*
!fsharp/.gitignore
!fsharp/.envrc

haskell/*
!haskell/.gitignore
!haskell/.envrc
